uv
ruff
requests
marimo[mcp]
ibm-watsonx-ai
kreuzberg[all]
jsonpath-python
confluent-kafka
python-dotenv
kafka-python
transformers
wigglystuff
pydantic-ai
ibmcloudant
duckdb[all]
anthropic
astrapy
jinja2