WX_API_KEY=
WX_SPACE_ID=

WX_URL=https://eu-de.ml.cloud.ibm.com
WX_PLATFORM_URL=https://api.eu-de.dataplatform.cloud.ibm.com

CHAT_MODEL=mistralai/mistral-medium-2505
EMBEDDING_MODEL=intfloat/multilingual-e5-large